*{
    padding: 0;
    margin: 0;
}

body{
    font-family: "Playpen Sans Arabic";
    background-color: rgb(25, 28, 37 ) ; 
    margin-bottom: 20px;
}

.title-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-line,
.right-line {
    height: 5px;
    width: 250px;
    border: none;
    margin: 0 15px 0 15px;
    background-color: rgb(255, 132, 0);
}

.left-line {
    border-radius: 100% 5px 5px 100%;
}

.right-line {
    border-radius: 5px 100% 100% 5px;
}

.title {
    color: white;
}
